/*sub.css*/
/*
main영역 header
타이틀 영역:1200 x 250
*/
#main {
    width: 1200px;
    margin: 0 auto;
    outline: 2px solid red;
}
#main > header {
    position: relative;
    height: 250px;
    background: url('http://placeimg.com/1200/250');
}
#main > header > h2 {
    color: #ffffff;
    position: relative;
    top: 80px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0,0.3);
}

/*lnb 선택 강조색*/
.accent {color:#bf2428!important;}

#lnb { 
    position: absolute;
    background: #35302d;
    bottom: 0;
    /*수평 중앙 정렬*/
    left: 50%; transform: translateX(-50%);
    width: 1000px; /*크기 고정*/
    color: #fff;
    text-align: center;
}
#lnb a {color: #fff;}
#lnb ul {
    overflow: hidden;
    outline: 2px solid green;
    padding-left: 30px;
    padding-right: 30px;
}
#lnb ul li { 
    /*float: left;*/
    display: inline-block
    ;}
#lnb ul a {
    display: inline-block;
    padding: 10px 15px;
}

/*메뉴 구분선*/
#lnb ul li span {
    font-size: 10px;
    display: inline-block;
    position: relative;
    top: -3px;
    opacity: 0.6;
}

/*lnb영역: header안에 하단 배치*/